<p>Welcome to the caculator. Use the form below to calculate stuff.</p>

<form action="/calc" method="get">
	<input type="text" name="first">
	<input type="text" name="operator">
	<input type="text" name="last">

	<button>Calc It.</button>

</form>